/* 가상선택자 공통요소 */
.section-title-bordered::before, .section-title-bordered::after {
    position: absolute;
    width: 18px;
    height: 1px;
    background: #807f85;
    content: "";
}

/* 왼쪽 위 */
.section-title-bordered::before {
    top: 0;
    left: -5px;
    transform: rotate(-45deg);
    transform-origin: top right;
}

/* 오른쪽 아래 */
.section-title-bordered::after {
    bottom: 101px;
    right: -5px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}


.section-title-bordered-line-1::before, .section-title-bordered-line-1::after {
    position: absolute;
    width: calc(100% - 13px);
    height: 1px;
    background: #807f85;
    content: "";
}

/* 위 선 */
.section-title-bordered-line-1::before {
    top: 0;
    left: 13px;
}

/* 아래 선 */
.section-title-bordered-line-1::after{
    top: 106px;
    left: 0;
}



.section-title-bordered-line-2::before, .section-title-bordered-line-2::after {
    position: absolute;
    width: 1px;
    height: 45%;
    background: #807f85;
    content: "";
}

/* 오른쪽 선 */
.section-title-bordered-line-2::after {
    top: 0px;
    right: 0;
}
/* 왼쪽 선 */
.section-title-bordered-line-2::before {
    top: 13px;
    left: 0;
}
